<a href="https://colab.research.google.com/github/u-10bei/J-League_Ratings/blob/main/j_teamdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

match_data = pd.read_csv('https://raw.githubusercontent.com/u-10bei/J-League_Ratings/main/data/match_result.csv')

In [6]:
team_home = match_data.loc[:,['home_team','match_day']]
team_home.rename(columns={'home_team':'team'}, inplace=True)
team_away = match_data.loc[:,['away_team','match_day']]
team_away.rename(columns={'away_team':'team'}, inplace=True)
team_data = pd.concat([team_home, team_away])
team_data.head()

  team   match_day
0  Ｖ川崎  1993-05-15
1  横浜Ｆ  1993-05-16
2   広島  1993-05-16
3   鹿島  1993-05-16
4  Ｇ大阪  1993-05-16

In [36]:
team_min = team_data.groupby('team').min()
team_min.rename(columns={'match_day':'oldest'},inplace=True)
team_max = team_data.groupby('team').max()
team_max.rename(columns={'match_day':'newest'},inplace=True)
team_master = pd.concat([team_min,team_max],axis=1,join='inner')
team_master.sort_values(['oldest', 'newest','team'],inplace=True)
team_master.reset_index(inplace=True)
team_master.index.name="Id"
team_master.head()

   team      oldest      newest
Id
0   横浜M  1993-05-15  1998-11-14
1   Ｖ川崎  1993-05-15  2000-11-26
2   横浜Ｆ  1993-05-16  1998-11-14
3    市原  1993-05-16  2004-11-28
4   名古屋  1993-05-16  2021-12-04

In [37]:
team_master.to_csv('/content/drive/MyDrive/data/team_master.csv')