<a href="https://colab.research.google.com/github/u-10bei/J-League_Ratings/blob/main/j_teamdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from util import credential as cred
match_data = pd.read_csv(cred.IPATH)
match_data.head()

,Unnamed: 0,competition,period,kickoff_time,home_team,away_team,stadium,attendance,match_day,home_score,away_score
0,0,Ｊ１ サントリー,第１節第１日,19:29,Ｖ川崎,横浜M,国立,59626,1993-05-15,1,2
1,1,Ｊ１ サントリー,第１節第２日,13:05,横浜Ｆ,清水,三ツ沢,14126,1993-05-16,3,2
2,2,Ｊ１ サントリー,第１節第２日,13:59,広島,市原,広島ス,11875,1993-05-16,2,1
3,3,Ｊ１ サントリー,第１節第２日,16:00,鹿島,名古屋,カシマ,10898,1993-05-16,5,0
4,4,Ｊ１ サントリー,第１節第２日,19:04,Ｇ大阪,浦和,万博,19580,1993-05-16,1,0

In [2]:
team_home = match_data.loc[:,['home_team','match_day']]
team_home.rename(columns={'home_team':'team'}, inplace=True)
team_away = match_data.loc[:,['away_team','match_day']]
team_away.rename(columns={'away_team':'team'}, inplace=True)
team_data = pd.concat([team_home, team_away])

In [3]:
team_min = team_data.groupby('team').min()
team_min.rename(columns={'match_day':'oldest'}, inplace=True)
team_max = team_data.groupby('team').max()
team_max.rename(columns={'match_day':'newest'}, inplace=True)
team_master = pd.concat([team_min,team_max],axis=1,join='inner')

In [4]:
team_master.to_csv(cred.OPATH)